<ion-view view-title="Rule of Day">
  <ion-content>
  <div class="text-center">
    <h1 style="color:blue" style="text-align: center">Judging Wide Ball</h1></div>
    <div>
    <p style="text-align: left" class="float-left">
    <li>If the bowler bowls a ball, not being a No ball, the umpire shall adjudge it a Wide if, according to the definition in (b) below, in his opinion the ball passes wide of the striker where he is and which also would have passed wide of him standing in a normal guard position.<l/i>
    <li>The ball will be considered as passing wide of the striker unless it is sufficiently within his reach for him to be able to hit it with his bat by means of a normal cricket stroke.</li>
    </p>
    </div>
  </ion-content>
</ion-view>
